{% extends "layout.html" %}

{% block content %}
<div class="w-full flex-1 flex flex-col min-h-0">
    
    <div class="flex justify-between items-center mb-6 shrink-0">
        <div>
            <h1 class="text-xl font-bold capitalize">{{ active_table }}</h1>
        </div>
    </div>

    <!-- Data Table Container -->
    <div class="card bg-base-100 shadow-xl overflow-hidden w-full border border-base-300 flex-1 min-h-0 flex flex-col">
        <div class="card-body p-0 flex-1 flex flex-col min-h-0">
            <!-- HTMX injects the table snippet here automatically -->
             <div 
                class="overflow-auto flex-1 min-h-0 relative" 
                hx-get="{{ root_path }}/snippets/table/{{ active_table }}?sort_by={{ sort_by }}&sort_order={{ sort_order }}&interval={{ interval }}&limit={{ limit }}" 
                {% if interval > 0 %}hx-trigger="every {{ interval }}s, load"{% else %}hx-trigger="load"{% endif %} 
                hx-swap="innerHTML">
                <div class="p-8 flex justify-center w-full">
                    <span class="loading loading-spinner loading-lg text-primary"></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block sidebar_menu %}
<li class="menu-title text-base font-bold opacity-80">Tools</li>
<li>
    <a href="{{ root_path }}/query" class="text-lg py-3">
       Custom SQL
    </a>
</li>
<div class="divider my-0 opacity-50"></div>
<li class="menu-title text-base font-bold opacity-80 mt-2">Tables</li>
{% for table in tables %}
<li>
    <a href="{{ root_path }}/?active_table={{ table }}&interval={{ interval }}&limit={{ limit }}" 
       class="text-lg py-3 capitalize {% if table == active_table %}active{% endif %}">
       {{ table }}
    </a>
</li>
{% endfor %}
{% endblock %}
